<div class="container">
<div class="grid">
  <img class="image" src="{{service.images}}">
    <div class="service-name">
      <h2>
        {{service.name}}
      </h2>
      <p class="service-details">{{service.description}}</p>
      <a href="https://app.acuityscheduling.com/schedule.php?owner=16407547" target="_blank" class="acuity-embed-button" style="background: #999999; color: #fff; padding: 8px 12px; border: 0px; -webkit-box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;-moz-box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;border-radius: 4px; text-decoration: none; display: inline-block;">
        Agendar
      </a>
      <a (click)="goBack()"> volver atrás</a>
    </div>
</div>
</div>


