<div class="container">
  <div class="item">
    <h1>SOBRE NOSOTRAS</h1>
  </div>
  <div class="item">
    <p>
      Somos una nueva tienda de plantas de interior y exterior con maceteros, pedestales
      y colgantes. Somos mamá e hija, María Teresa y Sofía, la primera paisajista con más
      de 20 años de experiencia y Sofía periodista, fanática de las plantas y
      autodidacta. 
    </p>
    <p>
      La idea es entregarle al cliente un producto listo, completo, de planta + macetero +
      pedestal o colgante. Igualmente tenemos la alternativa de comprar las plantas y
      maceteros por separado. También ofrecemos  accesorios para el mantenimiento de
      plantas como abonos, fertilizantes, insecticidas, delantales jardineros, palitas, etc.
    </p>
    <p>
      Nuestra distinción es que ofrecemos mayor variedad, de interior y exterior, no solo
      suculentas y cactus, hacemos una selección y curatoría especial para cada uno de
      nuestros productos pero siempre enfocadas las plantas; en cómo realzar su belleza
      natural y que tenga las mejores condiciones para crecimiento fuerte y cuidado (bien
      plantadas, con buena tierra de hoja, abono especial y en maceteros con el espacio
      que le corresponde y necesita). No nos gusta mucho el formato tan mini que vemos
      en el mercado.
    </p>
    <p>
      Ofrecemos diversas propuestas de conjuntos plantas + macetero + pedestales, de
      distintos materiales y tamaños para todos los gustos. Y también plantas de interior y
      exterior de la estación (Primavera) sin plantar, seleccionadas exclusivamente, como
      Ficus Lyratas de 2m, Magnolios, Kumquats y otros cítricos, que nos piden mucho.
      <br>
      Nuestro instagram es @jardinenflor.cl.
    </p>
  </div>
  <div class="item">
    <img src="../assets/soroush-karimi-267323-unsplash.jpg" alt="Placeholder">
  </div>
</div>

