<div class="container">
  <div class="item">
    <h1>SOBRE NOSOTRAS</h1>
  </div>
  <div class="item">
      <p>
      No shit! Right now you're Fredo. But, y'know, with some sound
      advice and proper introductions, who knows? I'll tell you one thing:
      you've got the right product. Anything that gets the DEA's panties in
      this big a bunch, you're onto something special. And I would like to
      be a small and silent part of it. Food for thought, yeah? So if you
      want to make more money and keep the money that you make, better call
      Saul!
    </p>
    <br>
    <p>
      Better safe than sorry. That's my motto. Yeah, you do seem to have a
      little 'shit creek' action going. You know, FYI, you can buy a paddle.
      Did you not plan for this contingency? I mean the Starship Enterprise
      had a self-destruct button. I'm just saying.
      Look, let's start with some tough love, alright? Ready for this? Here
    </p>
     <br>
    <p>
      Great, perfect you know... this is just. I told her you were my A Team.
      Oh, hello Mrs. White, the good news is the IRS has been paid off, the bad
      news is... ach, Je
    </p>
  </div>
  <div class="item">
    <img src="../assets/jardin1.jpg" alt="Placeholder">
  </div>
</div>

