  <header class="grid1">
    <div class="item">
      <img src="../assets/jardin-en-flor.png" alt="Logo Jardin en Flor">
    </div>
    <div class="item">
      <hr>
    </div>
    <div class="item">
      <p>santiago</p>
    </div>
  </header>

  <nav class="grid2">
    <div class="item">
      <a [routerLink]="['']">HOME</a>
    </div>
    <div class="item">
      <a [routerLink]="['about']">NOSOTRAS</a>
    </div>
    <div class="item">
      <a [routerLink]="['services']">SERVICIOS</a>
    </div>
    <div class="item">
    </div>
    <div class="item" *ngIf="user">
      <a (click)="handleLogout()">salir</a>
    </div>
    <div class="item" *ngIf="!user">
        <a [routerLink]="['signup']">tu cuenta</a>
      </div>
  </nav>

  <router-outlet></router-outlet>

  <footer class="grid3">
    <div><a target="_blank" href="https://www.instagram.com/jardinenflor.cl/"><i class="fab fa-instagram"></i></a></div>
    <div><a target="_blank" href="https://www.pinterest.com/sofiaroil/plantas-jard%C3%ADn-en-flor-chile/"><i class="fab fa-pinterest"></i></a></div>
    <div><a target="_blank" href="https://www.facebook.com/JardinenFlor.cl/"><i class="fab fa-facebook-square"></i></a></div>
  </footer>
















