.grid1 {
  display: grid;
  height: 250px;
  grid-template-rows: 200px 35px 1fr;
  justify-content: center;
  align-items: center;
}
img {
  height: 200px;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
p {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-style: italic;
  text-align: center;
}

.grid2 {
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 1fr 1fr 4fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  color: var(--gray);
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 8px;
}

a:hover {
  border-bottom: 3px solid var(--pink);
}

/* .grid3 {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 60px 60px 60px;;
  justify-items: center;
  align-items: center;
  grid-auto-flow: column;
  justify-content: center;
}

i {
  font-size: 35px;
  color: var(--pink);
} */