.image {
  grid-area: image;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

img {
  width: 100%;
  border-radius: 3%;
}

.text {
  grid-area: text;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  margin: 10px 260px 10px 260px;
  text-decoration: none;

}

h4 {
  font-size: 1.25rem;
  font-weight: 100;
  padding-top: 20px;
  line-height: 1.5;
}

.title {
  grid-area: title;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
}

h5 i {
  font-size: 25px;
  color: var(--gray);
}

.instagram {
  grid-area: instagram;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}

 i {
  font-size: 35px;
  color: var(--pink);
  padding: 26px;
}






